@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500;700&display=swap");
}

.neon-glow {
  text-shadow: 0 0 8px #00ffff, 0 0 16px #00bfff, 0 0 24px #00aaff;
}
svg {
  background: transparent !important;
}
